
.pagination {
	position: fixed;
	top: 50%;
	right: 34px;
	transform: translateY(-50%);
	max-width: 100%;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1000;

	&__list {
		list-style: none;
	}

	&__icon {
		width: 14px;
		height: 14px;
		border-radius: 100%;
		background-color: #fff;
		box-shadow: 0 0 5px #777;
		transition: all 0.2s;

		&:not(:last-child) {
			margin-bottom: 8px;
		}

		&--active {
			background-color: #f78b1f;
			box-shadow: 0 0 5px #777;
		}
	}
}
